@font-face {
  font-family: "Test Sohne";
  src: url("../fonts/TestSohne-Buch.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "FormaDJR Text";
  src: url("../fonts/FormaDJRText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "FormaDJR Banner";
  src: url("../fonts/FormaDJRBanner-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "FormaDJR Text Bold";
  src: url("../fonts/FormaDJRText-Bold.woff") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "FKScreamerLegacyTrial";
  src: url("../fonts/FKScreamerLegacyTrial-Upright.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("../fonts/Helvetica-Now-Display-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url("../fonts/Helvetica-Now-Display-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
