@import "fonts";
@import "variables";

@mixin backgroundIntro {
  background: linear-gradient(180deg, #12132b 0%, #07071e 100%);
}

@mixin fontBannerTitle {
  font-family: "FormaDJR Banner";
  font-weight: 700;
  font-size: 56px;
  line-height: 67px;
}

@mixin fontBanner {
  font-family: "FormaDJR Text Bold";
}

@mixin fontFormaText {
  font-family: "FormaDJR Text";
}

@mixin fontHelvic {
  font-family: "Helvetica Now Display";
}

@mixin fontScreamer {
  font-family: "FKScreamerLegacyTrial";
}
